<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @image.person %>
</p>

<p>
  <strong>Partition:</strong>
  <%= @image.partition_id %>
</p>

<p>
  <strong>Url:</strong>
  <%= @image.url %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
